# Print function

The **print()** function prints the specified message to the screen, or other standard output device.

In [40]:
print("Algorithms and Data Structures")

Algorithms and Data Structures

In [4]:
print(2+3*4) #14

14

In [8]:
print('2+3*4')

2+3*4

In [6]:
aa=10

In [7]:
aa

10

In [3]:
print((2+3)*4) #20

20

In [5]:
print(2**10) #1024

1024

In [6]:
'''
print(6/3) #2.0
print(7/3) #2.33333333333
print(7//3) #2
print(7%3) #1
'''

2.0
2.3333333333333335
2
1

# Boolean

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

In [7]:
False or True

True

In [8]:
 not (False or True)

False

In [9]:
 True and True

True

In [10]:
print(5 == 10)
print(10 > 5)

False
True

In [11]:
print((5 >= 1) and (5 <= 10))

True

In [2]:
the_sum = 0
the_sum = the_sum + 1
the_sum

1

In [3]:
the_sum = True

In [4]:
the_sum

True

# Lists

A list is a data structure that's built into Python and holds a collection of items. 
Lists have a number of important characteristics:

List items are enclosed in square brackets, like this [item1, item2, item3].
Lists are **ordered** â€“ i.e. the items in the list appear in a specific order. 
This enables us to use an index to access to any item.
Lists are **mutable**, which means you can add or remove items after a list's creation.
List **elements do not need to be unique**. Item duplication is possible, as each element has its own distinct place and can be accessed separately through the index.
Elements can be of different data types: you can combine strings, integers, and objects in the same list.

In [17]:
my_list = [1,3,True,6.5]

In [23]:
my_list = [0] * 6
my_list

[0, 0, 0, 0, 0, 0]

In [24]:
my_list = [1,2,3,4]
A = [my_list]*3
print(A)
my_list[2]=45
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [25]:
my_list = [1024, 3, True, 6.5]
my_list.append(False)
print(my_list)
my_list.insert(2,4.5)
print(my_list)
print(my_list.pop())
print(my_list)
print(my_list.pop(1))
print(my_list)
my_list.pop(2)
print(my_list)
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)
print(my_list.count(6.5))
print(my_list.index(4.5))
my_list.remove(6.5)
print(my_list)
del my_list[0]
print(my_list)

[1024, 3, True, 6.5, False]
[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]
[4.5, 6.5, 1024]
[1024, 6.5, 4.5]
1
2
[1024, 4.5]
[4.5]

In [26]:
(54).__add__(21)

75

# Range

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

range(start, stop, step)

Parameter	Description

start	Optional. An integer number specifying at which position to start. Default is 0

stop	Required. An integer number specifying at which position to stop (not included).

step	Optional. An integer number specifying the incrementation. Default is 1

In [9]:
range(10)

range(0, 10)

In [10]:
range(0, 10)

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
range(10)
range(0, 10)
list(range(10))

range(5,10)

list(range(5,10))

list(range(5,10,2))

list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [1]:
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [2]:
x = range(3, 6)
for n in x:
    print(n)

3
4
5

In [3]:
x = range(3, 20, 2)
for n in x:
    print(n)

3
5
7
9
11
13
15
17
19

# String

In [30]:
my_name = "David"
my_name[3]

'i'

In [31]:
"David"

'David'

In [34]:
my_name*2 #'DavidDavid'

'DavidDavid'

In [ ]:
len(my_name)

In [35]:
my_name#'David'

['Da', 'id']

In [36]:
my_name.upper()#'DAVID'

'DAVID'

In [37]:
my_name.center(10)#' David '

'  David   '

In [38]:
my_name.find('v')#2

2

In [39]:
my_name.split('v')#['Da', 'id']

['Da', 'id']

In [41]:
my_list=[1, 3, True, 6.5]

In [42]:
my_list[0]=2**10
my_list #[1024, 3, True, 6.5]

[1024, 3, True, 6.5]

# Tuples

Tuples are used to store multiple items in a single variable.

n Python, we use tuples to store multiple data similar to a list. For example,

Tuple is one of 4 built-in data types in Python used to store collections of data, (the other 3 are List, Set, and Dictionary, all with different qualities and usage).

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [44]:
my_tuple = (2,True,4.96)
my_tuple
#(2, True, 4.96)

(2, True, 4.96)

In [45]:
len(my_tuple)
#3

3

In [46]:
my_tuple[0]
#2

2

In [47]:
my_tuple * 3
#(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

In [48]:
my_tuple[0:2]
#(2, True)

(2, True)

# Sets

In Python, sets are exactly like lists except for the fact that their elements are immutable (that means you cannot change/mutate an element of a set once declared). 
However, you can add/remove elements from the set.

If that was confusing, let me try and summarize:

A set is a mutable, unordered group of elements, where the elements themselves are immutable.
Another characteristic of a set is that it may include elements of different types. 
This means you can have a group of numbers, strings, and even tuples, all in the same set!

In [49]:
{3,6,"cat",4.5,False}
#{False, 4.5, 3, 6, 'cat'}

{3, 4.5, 6, False, 'cat'}

In [50]:
my_set = {3,6,"cat",4.5,False}
my_set
#{False, 3, 4.5, 6, 'cat'}

{3, 4.5, 6, False, 'cat'}

In [51]:
len(my_set)
#5

5

In [52]:
False in my_set
#True

True

In [53]:
"dog" in my_set
#False

False

In [54]:
your_set = {99,3,100}
my_set.union(your_set)
#{False, 3, 4.5, 6, 99, 'cat', 100}

{100, 3, 4.5, 6, 99, False, 'cat'}

In [55]:
my_set | your_set
#{False, 3, 4.5, 6, 99, 'cat', 100}

{100, 3, 4.5, 6, 99, False, 'cat'}

In [56]:
my_set.intersection(your_set)
#{3}
my_set & your_set
#{3}

{3}

In [57]:
my_set.difference(your_set)
#{False, 4.5, 6, 'cat'}

{4.5, 6, False, 'cat'}

In [58]:
my_set - your_set
#{False, 4.5, 6, 'cat'}

{4.5, 6, False, 'cat'}

In [59]:
{3,100}.issubset(your_set)
#True

True

In [60]:
{3,100} <= your_set
#True

True

In [61]:
my_set.add("house")
my_set
#{False, 3, 4.5, 6, 'house', 'cat'}

{3, 4.5, 6, False, 'cat', 'house'}

In [62]:
my_set.remove(4.5)
my_set
#{False, 3, 6, 'house', 'cat'}

{3, 6, False, 'cat', 'house'}

In [63]:
my_set.pop()
#False

False

In [64]:
my_set
#{3, 6, 'house', 'cat'}

{3, 6, 'cat', 'house'}

In [65]:
my_set.clear()
my_set
set()

set()

# Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

NB: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [69]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
print(capitals['Iowa'])

DesMoines

In [70]:
capitals['Utah']='SaltLakeCity'
print(capitals)
capitals['California']='Sacramento'

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison', 'Utah': 'SaltLakeCity'}

In [71]:
print(len(capitals))
for k in capitals:
    print(capitals[k]," is the capital of ", k)

4
DesMoines  is the capital of  Iowa
Madison  is the capital of  Wisconsin
SaltLakeCity  is the capital of  Utah
Sacramento  is the capital of  California

In [86]:
phone_ext={'david':1410, 'brad':1137}
phone_ext
#{'brad': 1137, 'david': 1410}

{'david': 1410, 'brad': 1137}

In [87]:
phone_ext.keys()

dict_keys(['david', 'brad'])

In [88]:
list(phone_ext.keys())
#['brad', 'david']

['david', 'brad']

In [89]:
"brad" in phone_ext
# True

True

In [90]:
1137 in phone_ext
#False # 1137 is not a key in phone_ext

False

In [91]:
phone_ext.values() # Returns the values of the dictionary
phone_ext
#dict_values([1137, 1410])

{'david': 1410, 'brad': 1137}

In [92]:
list(phone_ext.values())
#[1137, 1410]

[1410, 1137]

In [93]:
phone_ext.items()
#dict_items([('brad', 1137), ('david', 1410)])

dict_items([('david', 1410), ('brad', 1137)])

In [94]:
list(phone_ext.items())
#[('brad', 1137), ('david', 1410)]

[('david', 1410), ('brad', 1137)]

In [95]:
phone_ext.get("kent")
phone_ext.get("kent","NO ENTRY")
#'NO ENTRY'

'NO ENTRY'

In [96]:
del phone_ext["david"]
phone_ext
#{'brad': 1137}

{'brad': 1137}

# Input and output

In [97]:
user_name = input('Please enter your name: ')

Please enter your name: janie

In [98]:
print("Your name in all capitals is",user_name.upper(),
"and has length", len(user_name))

Your name in all capitals is JANIE and has length 5

In [101]:
user_radius = input("Please enter the radius of the circle ")

Please enter the radius of the circle 99

In [105]:
radius = float(user_radius)
radius

99.0

In [104]:
diameter = 2 * radius
diameter

198.0

In [ ]:
print("Hello")
Hello
>>> print("Hello","World")
Hello World
>>> print("Hello","World", sep="***")
Hello***World
>>> print("Hello","World", end="***")
Hello World***
>>> print("Hello", end="***"); print("World")
Hello***World

In [ ]:
print(name, "is", age, "years old.")

In [ ]:
print("%s is %d years old." % (name, age))

In [ ]:
price = 24
>>> item = "banana"
>>> print("The %s costs %d cents"%(item,price))
The banana costs 24 cents
>>> print("The %+10s costs %5.2f cents"%(item,price))
The banana costs 24.00 cents
>>> print("The %+10s costs %10.2f cents"%(item,price))
The banana costs 24.00 cents
>>> item_dict = {"item":"banana","cost":24}
>>> print("The %(item)s costs %(cost)7.1f cents"%item_dict)
The banana costs 24.0 cents

In [7]:
counter = 1
while counter <= 5:
print("Hello, world")
counter = counter + 1

IndentationError: expected an indented block (2904850338.py, line 3)

In [ ]:
for item in [1,3,6,2,5]:
print(item)

In [ ]:
for item in range(5):
print(item ** 2)

In [ ]:
word_list = ['cat','dog','rabbit']
letter_list = [ ]
for a_word in word_list:
for a_letter in a_word:
letter_list.append(a_letter)
print(letter_list)

In [2]:
n=6

In [4]:
import numpy as np

In [5]:
if n < 0:
 print("Sorry, value is negative")
else:
 print(np.math.sqrt(n))

2.449489742783178

In [14]:
score=50

In [15]:
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

F

In [6]:
if n < 0:
    n = abs(n)
print(math.sqrt(n))

NameError: name 'math' is not defined

In [106]:
sq_list = []
for x in range(1, 11):
    sq_list.append(x * x)
sq_list
#[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq_list = [x * x for x in range(1, 11)]
sq_list
#[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [107]:
sq_list = [x * x for x in range(1, 11) if x % 2 != 0]
>>> sq_list
#[1, 9, 25, 49, 81]

[1, 9, 25, 49, 81]

In [3]:
[ch.upper() for ch in 'comprehension' if ch not in 'aeiou']

['C', 'M', 'P', 'R', 'H', 'N', 'S', 'N']

# Example: Checking for prime

In [4]:
# Program to check if a number is prime or not

num = 29

# To take input from the user
#num = int(input("Enter a number: "))

# define a flag variable
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

    # check if flag is True
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

29 is a prime number

In [10]:
num = 407

# To take input from the user
#num = int(input("Enter a number: "))

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
   # check for factors
   for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
        else:
            print(num,"is a prime number")
       
#if input number is less than
# or equal to 1, it is not prime
else:
    print(num,"is not a prime number")

407 is a prime number
407 is a prime number
407 is a prime number
407 is a prime number
407 is a prime number
407 is a prime number
407 is a prime number
407 is a prime number
407 is a prime number
407 is not a prime number
11 times 37 is 407